*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font: 16px/1.5 var(--fonte);
  color: var(--cor-texto);
  background: var(--cor-fundo);
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}
